.homeComponent {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-top: 200px;
        font-size: 5rem;
    }

    h2 {
        font-size: 4rem;
        margin: 2rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1rem;
    }

    button {
        width: 150px;
        height: 50px;
    }
}